.wrap {
	background-color: transparent;
	display: table;
	table-layout: fixed;
	z-index: 1;

	.container {
		display: table-cell;
		width: 80%;

		.header-bar {
			position: relative;

			nav {
				
				.menu-items {

					li {
						float: right;

						&:first-child {
							float: left;
						}

						a {
							border-bottom: 0;
						}
					}
				}

				.fa {
					display: none;
				}	
			}
		}	
	}
}

.side-container {
	position: fixed;
	color: white;
	width: 20%;
	height: 100%;
	background-color: black;
	z-index: 2;
	top: 0;
	display: table-cell;

	.brand {

		h2 {
			margin: 0px auto;
			padding: 30px 0;
			font-size: 2em;
		}

	}

	.profile {
		margin-top: 15px;
		text-align: center;

		.profile-img { 
			background: #fff;
			border-radius: 50%;
			width: 180px;
			height: 180px;
			margin: 25px 0 20px; 
			display: inline-block;
			overflow: hidden;
			
			img {
				width: 180px;
				height: 180px;
			}


		}

		h2 {
			margin-bottom: 45px;
		}
	}

	.options {
		
		
	}

	.fa {
		display: none;
	}

	.li-style {
		display: block;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			text-decoration: none;
			position: relative;
			z-index: 3;
			font-size: 1.3em;
			list-style-type: none;
			padding: 7px 0;
			border-color: #4a4a4a;
			border-style: solid;
			border-width: 1px 0;
				
			&:not(:first-child) {
				margin-top: -1px;
			}
		
			&:hover {
				border-color: white;
				z-index: 4;
			}

			a {
				text-decoration: none;
				color: white;
			}
		}	
	}

	.followers {
		margin-top: 90px;
	
	}
}