@import '_variables.scss';
@import 'home_main/home_main.scss';

.landing-title {
	background: #000; /* COLOR */
	margin-top: -($header-height);
	padding-top: $header-height;
}

/* Center title in the landing page */ 
.title {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* Tales anchor */ 
.landing-footer {
	font-size: 1.3em;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
	
	a {
		text-decoration: none;
		color: #fff;
	
		&:hover {
			text-decoration: none;
			color: #fff;
			font-size: 1.35em;
			transition: all 0.3s ease-in;
		}
	}
}


@media (max-width: 1110px) {
	@import 'home_main/home_main_maxw_1110.scss';
}

@media (max-width: 961px) {
	@import 'home_main/home_main_maxw_961.scss';
}

@media (max-width: 768px) {
	@import 'home_main/home_main_maxw_768.scss';
}

@media (max-width: 600px) {
	@import 'home_main/home_main_maxw_600.scss';
}

@media (max-width: 599px) {
	@import 'home_main/home_main_maxw_599.scss';
	
}


