@import '_variables.scss';
@import 'login_join_main/join_main.scss';
@import 'login_join_main/login_main.scss';

.join-form {
	margin-top: -($header-height);
	padding-top: $header-height;
}

.container {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
} 

.btn {
	width: 100px;
	height: 30px;			
	border-style: none;
	border-radius: 5px;
	display: inline-block;
    text-decoration: none;
    line-height: 27px;
    color: black;
    font-size: 13.3333px;
    box-sizing: border-box;
    font-family: Arial;
    padding: 0;
}
.btn:active{
	color: black;
}

@media (max-width: 900px) {
	@import 'login_join_main/join_main_maxw_900.scss';
}

@media (max-width: 600px) {
	@import 'login_join_main/join_main_maxw_600.scss';
}
