@import '_variables.scss';
@import 'tales_main/tales_main.scss';

.landing-title {
	background: #000; /* COLOR */
	margin-top: -($header-height);
	padding-top: $header-height;
}

.title {
	position: relative;
    top: 50%;
    transform: translateY(-50%);
}
