.header-bar {
	width: 100%;
	height: $header-height;
	background: #000; 
	z-index: 2;
	position: absolute; 
	padding-top: 20px; 
    box-sizing: border-box;  /* mantain the size */

	.menu ul {
		margin: 0 auto;
		padding: 0;
		
		li {
			list-style: none;
			display: inline-block;
			background-color: #000; 

			a {
				color: #fff;
				text-decoration: none;
				border-bottom: 2px solid transparent;
				display: inline-block;
				font-size: 2em;	
				transition: all 0.3s ease-in;

				&:hover{
					border-bottom: 2px solid white;
				}
			}
		}
	}
}