.landing-title {
	padding-top: 0;
	margin-top: 0;
}

.main-section .img-tales {
	width: 100%;

	.text {
		clear: both;
		width: 100%;
		padding-top: 2%;
	}	
}

.main-tales li {
	width: 100%;
	
	h2 {
		font-size: 2em;
		margin: 5px 0;
	}

	p {
		padding: 10px 20px 20px 20px;
		line-height: 1.6em;
		font-size: 1.2em;
	}
}