.wrap {

	.container {

		.header-bar {
			padding-top: 13px;

			nav {
				
				.menu-items {

					li {

						a {
							margin-bottom: 5px;
							font-size: 1.5em;
						}
					}
				}

				.fa {
					display: block;
					
				}	
			}
		}	
	}
}

.side-container {

	.brand {

		h2 {
			font-size: 1.8em;
			transition: all 0.3s ease-in;
		}
	}

	.profile {

		.profile-img { 
			width: 120px;
			height: 120px;
			margin: 0 0 10px;
			transition: all 0.3s ease-in;
			
			img {
				width: 120px;
				height: 120px;
				transition: all 0.3s ease-in;
			}
		}

		h2 {
			margin-bottom: 35px;
			font-size: 1.4em;
			transition: all 0.3s ease-in;
		}
	}

	.fa {
		display: block;
		margin-top: 8px;
		font-size: 1.2em; 

		&:active, &.active, &:focus {
			color: black;
		}
	}

	.li-style {

		li {
			font-size: 1.1em;
			
			a {
				margin: 5px;
				color: white;
				transition: all 0.3s ease-in;
			}
		}	
	}

	.followers {
		margin-top: 80px;
	
	}
}
