.tales-container {
	width: 645px;
	height: 380px;
	margin: 50px;

	&:hover {
		top: 0;
		left: 0;
	}

	.tales-panel-text {
		width: 290px;
    	height: 300px;
    	left: 320px;
   		top: 40px;

   		h2 {
   			margin: 90px 0 30px;
   		}

   		hr {
   			width: 30%;
   		}

   		p {
   			margin: 20px 25px;
   		}
	}

	.tales-panel-img {
		left: 0;
		top: 30px;

		img {
			width: 320px;
			height: 320px;
			-webkit-box-shadow: 1px 2px 33px -4px rgba(0,0,0,0.75);
			-moz-box-shadow: 1px 2px 33px -4px rgba(0,0,0,0.75);
			box-shadow: 1px 2px 33px -4px rgba(0,0,0,0.75);
		}
	}

	.tales-background {
		width: 550px;
    	height: 380px;
    	top: 0;
    	left: 95px;

	}
}