.panel {
	position: relative;
	width: 700px;
	margin: 0 auto;
	height: 450px; 
	background: #fff;
	display: inline-block;

	.panel-title {
		position: absolute;
		width: 300px;
		height: 300px;
		left: -100px;
		top: 50%;
    	transform: translateY(-50%);
    	color: #000;
    	background: orange;
    	-webkit-box-shadow: 16px 7px 18px -11px rgba(0,0,0,0.25);
		-moz-box-shadow: 16px 7px 18px -11px rgba(0,0,0,0.25);
		box-shadow: 16px 7px 18px -11px rgba(0,0,0,0.25);

		.panel-text {
			color: #fff;
			margin-top: 100px;

    		h3 {
    			font-size: 2em;
    			margin: 0;
    		}

    		p {
    			font-size: 1.2em;
    		}
    	}
	
    	.panel-img { 
			background: #fff;
			border-radius: 50%;
			width: 180px;
			height: 180px;
			margin: 25px 60px 20px; 
			display: inline-block;
			overflow: hidden;
		
			img {
				width: 180px;
				height: 180px;
			}
    	
    		input[type='file'] {
				cursor: pointer;
				width: 100%;
				height: 100%;
				left: 0;
				opacity: 0!important;
				position: absolute;
				top: 0;
			}
		}

		h4 {
			color: #fff;
			font-size: 1.2em;
			display: block;
			margin: 10px 0 41px;
			letter-spacing: 1px;
		}
	}
	
    .form {
		position: absolute;
		height: 400px;
		left: 200px;
		top: 0px;
    	width: 500px;
    	text-align: left;
		
		.form-line {
			width: 100%;

			&:first-child {
				margin-top: 60px;
			}
		}			

		h4 {
			color: #000;
			font-size: 18px;
			margin: 50px 0 3px 50px;
    		display: inline-block;
    		width: 20%; 
		}

		.form-control {
			display: inline-block;
			border: none;
			border-bottom: 2px solid #cecece;
			padding: 5px 10px;
			transition: 1s ease;
			width: 60%;

			&:focus {
				border-bottom: 2px solid #ffa500; 
				outline: none;

				
			}
		}
	}
	
	.form-footer {
		position: relative;
		top: 400px;
		height: 50px;

		
		button {
			border-style: none;
			border-radius: 5px;
		}
		
		/* poderá ir para os estilos comuns */
		.btn {
			width: 100px;
			height: 30px;
		}

		.btn-next {
			background-color: #ffa500;
			position: relative;
			left: 280px;
			border: 2px solid #e29404;
			-webkit-box-shadow: 12px 12px 14px -13px rgba(0,0,0,0.55);
			-moz-box-shadow: 12px 12px 14px -13px rgba(0,0,0,0.55);
			box-shadow: 12px 12px 14px -13px rgba(0,0,0,0.55);
			transition: all 0.2s;
			
			&:focus {
			outline: none;
			}

			&:active {
				outline: none;
				border: 2px solid #b97801;
				background-color: #e4980c;
				box-shadow: none;
				left: 281px;
				top: 1px;

			}
		} 
	}
}