.main-container {
  display: inline-block;
  width: 100%;
  height: auto;
  /*como ter a mesma altura que a side bar */
  background-color: #f7f7f7;
  color: black;
  text-align: left; }
  .main-container h2 {
    font-size: 2em;
    padding: 0 50px;
    margin-bottom: 10px; }
  .main-container .profile-image-container {
    display: inline-block;
    vertical-align: top; }
    .main-container .profile-image-container .profile-image {
      margin: 10px 0 0 100px; }
      .main-container .profile-image-container .profile-image img {
        display: block;
        width: 200px;
        border: 3px solid #d4d4d4;
        border-radius: 50%; }
      .main-container .profile-image-container .profile-image .btn {
        cursor: pointer;
        width: 100px;
        height: 25px;
        display: block;
        border-radius: 5px;
        line-height: 22px;
        color: black;
        font-size: 13.3333px;
        box-sizing: border-box;
        font-family: Arial;
        padding: 0;
        position: relative;
        margin: 10px auto; }
        .main-container .profile-image-container .profile-image .btn input[type='file'] {
          font-size: 0;
          /**/
          opacity: 0 !important;
          /**/
          width: 100%;
          height: 100%;
          left: 0;
          position: absolute;
          top: -9px; }
  .main-container .form-container {
    padding: 0 70px; }
    .main-container .form-container .id-container {
      /*https://www.w3schools.com/howto/howto_css_tooltip.asp*/ }
      .main-container .form-container .id-container .first-id-container {
        margin: 80px 0;
        display: inline-block; }
      .main-container .form-container .id-container hr {
        height: 2px;
        background: #9e9e9e;
        font-size: 0;
        border: 0;
        width: 400px;
        margin: 20px 0 0 0; }
      .main-container .form-container .id-container h3 {
        margin: 20px 0 5px 0; }
      .main-container .form-container .id-container h4 {
        color: #7d7c7c;
        margin: 10px 0 7px 0; }
      .main-container .form-container .id-container .space {
        display: inline-block;
        margin: 0 25px 15px 0; }
      .main-container .form-container .id-container input {
        padding: 3px; }
      .main-container .form-container .id-container .third-id-container input {
        width: 300px;
        margin-bottom: 15px; }
      .main-container .form-container .id-container .fourth-id-container .tooltip {
        position: relative;
        display: inline-block; }
        .main-container .form-container .id-container .fourth-id-container .tooltip:hover + .tooltiptext {
          visibility: visible;
          opacity: 1; }
      .main-container .form-container .id-container .fourth-id-container .tooltiptext {
        visibility: hidden;
        width: 230px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        top: 74%;
        left: 29%;
        margin-left: -60px;
        opacity: 0;
        -webkit-transition: opacity 1s;
        transition: opacity 1s; }
        .main-container .form-container .id-container .fourth-id-container .tooltiptext:after {
          content: "";
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -5px;
          border-width: 5px;
          border-style: solid;
          border-color: #555 transparent transparent transparent; }
      .main-container .form-container .id-container .fifth-id-container {
        width: 100%; }
        .main-container .form-container .id-container .fifth-id-container textarea {
          margin: 10px 0;
          box-sizing: border-box;
          width: 100%;
          height: 4%; }

.wrap {
  background-color: transparent;
  display: table;
  table-layout: fixed;
  z-index: 1; }
  .wrap .container {
    display: table-cell;
    width: 80%; }
    .wrap .container .header-bar {
      position: relative; }
      .wrap .container .header-bar nav .menu-items li {
        float: right; }
        .wrap .container .header-bar nav .menu-items li:first-child {
          float: left; }
        .wrap .container .header-bar nav .menu-items li a {
          border-bottom: 0; }
      .wrap .container .header-bar nav .fa {
        display: none; }

.side-container {
  position: fixed;
  color: white;
  width: 20%;
  height: 100%;
  background-color: black;
  z-index: 2;
  top: 0;
  display: table-cell; }
  .side-container .brand h2 {
    margin: 0px auto;
    padding: 30px 0;
    font-size: 2em; }
  .side-container .profile {
    margin-top: 15px;
    text-align: center; }
    .side-container .profile .profile-img {
      background: #fff;
      border-radius: 50%;
      width: 180px;
      height: 180px;
      margin: 25px 0 20px;
      display: inline-block;
      overflow: hidden; }
      .side-container .profile .profile-img img {
        width: 180px;
        height: 180px; }
    .side-container .profile h2 {
      margin-bottom: 45px; }
  .side-container .fa {
    display: none; }
  .side-container .li-style {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .side-container .li-style li {
      text-decoration: none;
      position: relative;
      z-index: 3;
      font-size: 1.3em;
      list-style-type: none;
      padding: 7px 0;
      border-color: #4a4a4a;
      border-style: solid;
      border-width: 1px 0; }
      .side-container .li-style li:not(:first-child) {
        margin-top: -1px; }
      .side-container .li-style li:hover {
        border-color: white;
        z-index: 4; }
      .side-container .li-style li:active, .side-container .li-style li.active {
        background: grey; }
      .side-container .li-style li a {
        text-decoration: none;
        color: white; }
  .side-container .followers {
    margin-top: 90px; }

@media (max-width: 1200px) {
  .wrap {
    background-color: transparent;
    display: table;
    table-layout: fixed;
    z-index: 1; }
    .wrap .container {
      display: table-cell;
      width: 80%; }
      .wrap .container .header-bar {
        position: relative; }
        .wrap .container .header-bar nav .menu-items li {
          float: right; }
          .wrap .container .header-bar nav .menu-items li:first-child {
            float: left; }
          .wrap .container .header-bar nav .menu-items li a {
            border-bottom: 0; }
        .wrap .container .header-bar nav .fa {
          display: inline-block; }
  .side-container .brand h2 {
    margin: 0px auto;
    padding: 30px 0;
    font-size: 1.7em; }
  .side-container .profile {
    margin-top: 15px;
    text-align: center; }
    .side-container .profile .profile-img {
      background: #fff;
      border-radius: 50%;
      width: 120px;
      height: 120px;
      margin: 0 0 10px;
      display: inline-block;
      overflow: hidden; }
      .side-container .profile .profile-img img {
        width: 120px;
        height: 120px; }
    .side-container .profile h2 {
      margin-bottom: 45px; }
  .side-container .fa {
    display: block;
    margin: 5px; }
  .side-container .li-style {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .side-container .li-style li {
      text-decoration: none;
      position: relative;
      z-index: 3;
      font-size: 1.1em;
      list-style-type: none;
      padding: 7px 0;
      border-color: #4a4a4a;
      border-style: solid;
      border-width: 1px 0; }
      .side-container .li-style li:not(:first-child) {
        margin-top: -1px; }
      .side-container .li-style li:hover {
        border-color: white;
        z-index: 4; }
      .side-container .li-style li:active {
        background: grey; }
      .side-container .li-style li:focus {
        background-color: grey; }
      .side-container .li-style li a {
        margin: 5px;
        color: white; }
  .side-container .followers {
    margin-top: 90px; } }

@media (max-width: 1200px) {
  .main-container {
    display: inline-block;
    width: 100%;
    height: auto;
    /*como ter a mesma altura que a side bar */
    background-color: #f7f7f7;
    color: black;
    text-align: left; }
    .main-container h2 {
      font-size: 2em;
      padding: 0 50px;
      margin-bottom: 10px; }
    .main-container .profile-image-container {
      margin-left: 55px; }
      .main-container .profile-image-container .profile-image img {
        display: block;
        width: 250px; }
      .main-container .profile-image-container .profile-image .btn {
        cursor: pointer;
        width: 100px;
        height: 25px;
        display: block;
        border-radius: 5px;
        line-height: 22px;
        color: black;
        font-size: 13.3333px;
        box-sizing: border-box;
        font-family: Arial;
        padding: 0;
        position: relative;
        margin: 0 auto; }
        .main-container .profile-image-container .profile-image .btn input[type='file'] {
          font-size: 0;
          /**/
          opacity: 0 !important;
          /**/
          width: 100%;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0; }
    .main-container .form-container {
      padding: 0 70px; }
      .main-container .form-container .id-container {
        /*https://www.w3schools.com/howto/howto_css_tooltip.asp*/ }
        .main-container .form-container .id-container .first-id-container {
          margin: 80px 0; }
        .main-container .form-container .id-container hr {
          height: 2px;
          background: #9e9e9e;
          font-size: 0;
          border: 0;
          width: 400px;
          margin: 20px 0 0 0; }
        .main-container .form-container .id-container h3 {
          margin: 20px 0 5px 0; }
        .main-container .form-container .id-container h4 {
          color: #7d7c7c;
          margin: 10px 0 7px 0; }
        .main-container .form-container .id-container div {
          display: inline-block;
          margin: 0 25px 15px 0; }
        .main-container .form-container .id-container input {
          padding: 3px; }
        .main-container .form-container .id-container .third-id-container input {
          width: 300px;
          margin-bottom: 15px; }
        .main-container .form-container .id-container .fourth-id-container .tooltip {
          position: relative;
          display: inline-block; }
          .main-container .form-container .id-container .fourth-id-container .tooltip:hover {
            visibility: visible;
            opacity: 1; }
        .main-container .form-container .id-container .fourth-id-container .tooltiptext {
          visibility: hidden;
          width: 230px;
          background-color: #555;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;
          position: absolute;
          z-index: 1;
          top: 76%;
          left: 28%;
          margin-left: -60px;
          opacity: 0;
          -webkit-transition: opacity 1s;
          transition: opacity 1s; }
          .main-container .form-container .id-container .fourth-id-container .tooltiptext:after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent; }
        .main-container .form-container .id-container .fifth-id-container {
          width: 100%; }
          .main-container .form-container .id-container .fifth-id-container textarea {
            margin: 10px 0;
            box-sizing: border-box;
            width: 100%;
            height: 4%; } }
