.tales {
  margin-bottom: 250px;
  z-index: 1;
  position: relative; }

.main-section ul {
  padding: 0;
  margin: 0 auto;
  font-size: 0; }
  .main-section ul .img-tales {
    display: inline-block;
    width: 50%;
    overflow: hidden; }

.main-tales li {
  list-style-type: none;
  display: inline-block;
  position: relative; }
  .main-tales li .text {
    font-size: 18px;
    display: inline-block;
    width: 50%;
    float: right;
    padding-top: 3%; }
  .main-tales li .text-left {
    float: left; }
  .main-tales li.first-tale {
    background: #31bb31; }
  .main-tales li.second-tale {
    background: #ff5100; }
  .main-tales li.third-tale {
    background: #eed162; }
  .main-tales li.fourth-tale {
    background: #ec364c;
    position: relative; }
  .main-tales li img {
    width: 100%;
    opacity: 0.7; }
    .main-tales li img:hover {
      opacity: 1;
      -webkit-transition: all 0.7s linear;
      transition: all 0.7s linear;
      -webkit-transform: scale(1.2, 1.2);
      transform: scale(1.2, 1.2); }
  .main-tales li h2 {
    font-size: 2.5em;
    margin: 5px 0; }
  .main-tales li p {
    padding: 20px;
    line-height: 1.6em;
    font-size: 1.2em; }

.landing-title {
  background: #000;
  /* COLOR */
  margin-top: -70px;
  padding-top: 70px; }

/* Center title in the landing page */
.title {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

/* Tales anchor */
.landing-footer {
  font-size: 1.3em;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0; }
  .landing-footer a {
    text-decoration: none;
    color: #fff; }
    .landing-footer a:hover {
      text-decoration: none;
      color: #fff;
      font-size: 1.35em;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }

@media (max-width: 1110px) {
  .main-tales .text {
    padding-top: 2%; }
    .main-tales .text p {
      padding: 10px 15px;
      line-height: 1.6em;
      font-size: 1.1em; } }

@media (max-width: 961px) {
  .main-tales .text {
    padding-top: 1%; }
    .main-tales .text h2 {
      font-size: 1.5em; }
    .main-tales .text p {
      line-height: 1.2em;
      font-size: 1em; } }

@media (max-width: 768px) {
  .tales {
    margin-bottom: 370px; }
  .main-tales li .text {
    padding-top: 2%; }
    .main-tales li .text h2 {
      font-size: 1.4em;
      margin: 0; }
    .main-tales li .text p {
      padding: 0;
      font-size: 0.9em; } }

@media (max-width: 600px) {
  .landing-title {
    padding-top: 0;
    margin-top: 0; }
  .main-section .img-tales {
    width: 100%; }
    .main-section .img-tales .text {
      clear: both;
      width: 100%;
      padding-top: 2%; }
  .main-tales li {
    width: 100%; }
    .main-tales li h2 {
      font-size: 2em;
      margin: 5px 0; }
    .main-tales li p {
      padding: 10px 20px 20px 20px;
      line-height: 1.6em;
      font-size: 1.2em; } }

@media (max-width: 599px) {
  .main-section ul .img-tales {
    display: block;
    width: 100%; }
  .main-tales li {
    width: 100%;
    clear: both; }
    .main-tales li .text {
      width: 100%;
      height: 300px;
      padding: 0; }
      .main-tales li .text h2 {
        font-size: 2em;
        margin: 7px 0; }
      .main-tales li .text p {
        padding: 10px 20px;
        line-height: 1.4em;
        font-size: 1em; } }
