@charset "UTF-8";
.join-form {
  margin-top: -70px;
  padding-top: 70px; }

.container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.panel {
  position: relative;
  width: 700px;
  margin: 0 auto;
  height: 450px;
  background: #fff;
  display: inline-block; }
  .panel .panel-title {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    background: orange;
    box-shadow: 16px 7px 18px -11px rgba(0, 0, 0, 0.25); }
  .panel .panel-text {
    color: #fff;
    margin-top: 100px; }
    .panel .panel-text h3 {
      font-size: 2em;
      margin: 0; }
    .panel .panel-text p {
      font-size: 1.2em; }
  .panel .form {
    position: absolute;
    height: 400px;
    left: 200px;
    top: 0px;
    width: 500px;
    text-align: left; }
    .panel .form .form-line {
      width: 100%; }
      .panel .form .form-line:first-child {
        margin-top: 80px; }
    .panel .form h4 {
      color: #000;
      font-size: 18px;
      margin: 50px 0 3px 50px;
      display: inline-block;
      width: 20%; }
    .panel .form .form-control {
      display: inline-block;
      border: none;
      border-bottom: 2px solid #cecece;
      padding: 5px 10px;
      -webkit-transition: 1s ease;
      transition: 1s ease;
      width: 60%; }
      .panel .form .form-control:focus {
        border-bottom: 2px solid #ffa500;
        outline: none; }
  .panel .form-footer {
    position: relative;
    top: 400px;
    height: 50px;
    /* poderá ir para os estilos comuns */ }
    .panel .form-footer button {
      border-style: none;
      border-radius: 5px; }
    .panel .form-footer .btn {
      width: 100px;
      height: 30px; }
    .panel .form-footer .btn-next {
      background-color: #ffa500;
      position: relative;
      left: 280px;
      border: 2px solid #e29404;
      box-shadow: 12px 12px 14px -13px rgba(0, 0, 0, 0.55);
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
      .panel .form-footer .btn-next:focus {
        outline: none; }
      .panel .form-footer .btn-next:active {
        outline: none;
        border: 2px solid #b97801;
        background-color: #e4980c;
        box-shadow: none;
        left: 281px;
        top: 1px; }
