.panel {
  position: relative;
  width: 700px;
  margin: 0 auto;
  height: 450px;
  background: #fff;
  display: inline-block; }
  .panel .panel-title {
    position: absolute;
    width: 300px;
    height: 300px;
    left: -100px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    background: orange;
    box-shadow: 16px 7px 18px -11px rgba(0, 0, 0, 0.25); }
    .panel .panel-title .panel-text {
      color: #fff;
      margin-top: 100px; }
      .panel .panel-title .panel-text h2 {
        color: white;
        margin-top: 125px; }
      .panel .panel-title .panel-text h3 {
        font-size: 2em;
        margin: 0; }
      .panel .panel-title .panel-text p {
        font-size: 1.2em; }
    .panel .panel-title .panel-img {
      background: #fff;
      border-radius: 50%;
      width: 180px;
      height: 180px;
      margin: 25px 60px 20px;
      display: inline-block;
      overflow: hidden; }
      .panel .panel-title .panel-img img {
        width: 180px;
        height: 180px; }
      .panel .panel-title .panel-img input[type='file'] {
        cursor: pointer;
        width: 100%;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0; }
    .panel .panel-title h4 {
      color: #fff;
      font-size: 1.2em;
      display: block;
      margin: 10px 0 41px;
      letter-spacing: 1px; }
  .panel .form {
    position: absolute;
    height: 400px;
    left: 200px;
    top: 0px;
    width: 500px;
    text-align: left; }
    .panel .form .form-line {
      width: 100%; }
      .panel .form .form-line:first-child {
        margin-top: 60px; }
    .panel .form h4 {
      color: #000;
      font-size: 18px;
      margin: 50px 0 3px 50px;
      display: inline-block;
      width: 20%; }
    .panel .form .form-control {
      display: inline-block;
      border: none;
      border-bottom: 2px solid #cecece;
      padding: 5px 10px;
      -webkit-transition: 1s ease;
      transition: 1s ease;
      width: 60%; }
      .panel .form .form-control:focus {
        border-bottom: 2px solid #ffa500;
        outline: none; }
  .panel .form-footer {
    position: relative;
    top: 400px;
    height: 50px; }
    .panel .form-footer .btn-next {
      background-color: #ffa500;
      position: absolute;
      right: 30px;
      border: 2px solid #e29404; }
      .panel .form-footer .btn-next:focus {
        outline: none; }
      .panel .form-footer .btn-next:active {
        outline: none;
        border: 2px solid #b97801;
        background-color: #e4980c;
        box-shadow: none;
        right: 29px;
        top: 1px; }
    .panel .form-footer .btn-prev {
      position: absolute;
      left: 30px; }

.zero-panel {
  position: relative;
  width: 350px;
  margin: 0 auto;
  height: 500px;
  background: #fff;
  display: inline-block; }
  .zero-panel .zero-panel-title {
    position: absolute;
    width: 300px;
    height: 150px;
    left: 7%;
    top: 10%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #000;
    background: orange;
    box-shadow: 16px 7px 18px -11px rgba(0, 0, 0, 0.25); }
    .zero-panel .zero-panel-title .panel-text {
      color: #fff; }
      .zero-panel .zero-panel-title .panel-text h3 {
        font-size: 2em;
        margin-top: 50px; }
    .zero-panel .zero-panel-title h4 {
      color: #fff;
      font-size: 1.2em;
      display: block;
      margin: 10px 0 41px;
      letter-spacing: 1px; }
  .zero-panel .zero-form {
    position: absolute;
    height: 250px;
    top: 25%;
    width: 100%;
    text-align: center; }
    .zero-panel .zero-form h4 {
      color: #000;
      font-size: 18px;
      display: inline-block;
      width: 100%; }
    .zero-panel .zero-form .zero-form-control {
      display: block;
      border: none;
      border-bottom: 2px solid #cecece;
      -webkit-transition: 2s ease;
      transition: 2s ease;
      width: 60%;
      margin: 0 auto; }
      .zero-panel .zero-form .zero-form-control:focus {
        border-bottom: 2px solid #ffa500;
        outline: none; }
    .zero-panel .zero-form .remember {
      margin: 1px 0 0 36px;
      width: 60%; }
      .zero-panel .zero-form .remember span {
        color: black;
        font-size: 0.8em; }
    .zero-panel .zero-form p {
      margin-top: 5px;
      font-size: 0.8em; }
      .zero-panel .zero-form p:first-of-type {
        margin-top: 40px; }
      .zero-panel .zero-form p:last-child {
        margin-top: 20px; }
  .zero-panel .form-footer {
    position: relative;
    top: 450px;
    height: 50px; }
    .zero-panel .form-footer .zero-btn-join {
      background-color: #ffa500;
      position: relative;
      border: 2px solid #e29404; }
      .zero-panel .form-footer .zero-btn-join:focus {
        outline: none; }
      .zero-panel .form-footer .zero-btn-join:active {
        outline: none;
        border: 2px solid #b97801;
        background-color: #e4980c;
        box-shadow: none;
        left: 1px;
        top: 1px; }

.join-form {
  margin-top: -70px;
  padding-top: 70px; }

.container {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.btn {
  width: 100px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  line-height: 27px;
  color: black;
  font-size: 13.3333px;
  box-sizing: border-box;
  font-family: Arial;
  padding: 0; }

.btn:active {
  color: black; }

@media (max-width: 900px) {
  .panel {
    width: 500px;
    margin: 0 auto;
    height: 450px;
    background: #fff;
    display: inline-block; }
    .panel .panel-title {
      position: absolute;
      width: 300px;
      height: 300px;
      /**/
      left: 100px;
      /**/
      top: 0;
      /**/
      background: orange;
      box-shadow: -2px 8px 48px -15px rgba(0, 0, 0, 0.75); }
    .panel .form {
      position: absolute;
      height: 400px;
      left: 0;
      top: 0px;
      width: 500px;
      text-align: left; }
      .panel .form .form-line:first-child {
        margin-top: 125px; } }

@media (max-width: 600px) {
  ul {
    padding: 0; }
  .panel {
    width: 300px;
    margin: 0 auto;
    height: 450px;
    background: #fff;
    display: inline-block; }
    .panel .panel-title {
      position: absolute;
      width: 200px;
      height: 200px;
      /**/
      left: 50px;
      /**/
      background: orange;
      box-shadow: -2px 8px 48px -15px rgba(0, 0, 0, 0.75); }
      .panel .panel-title .panel-text {
        margin-top: 58px; }
      .panel .panel-title .panel-img {
        width: 120px;
        height: 120px;
        margin: 10px 30px 20px; }
        .panel .panel-title .panel-img img {
          width: 120px;
          height: 120px; }
      .panel .panel-title h4 {
        display: block;
        margin: 0;
        letter-spacing: 1px; }
    .panel .form {
      position: absolute;
      height: 400px;
      left: 0;
      top: 0px;
      width: 300px;
      text-align: center; }
      .panel .form .form-line {
        margin: 0 auto; }
        .panel .form .form-line:first-child {
          margin-top: 125px; }
      .panel .form h4 {
        display: block;
        width: 50%;
        margin: 0 auto;
        padding: 13px; }
      .panel .form .form-control {
        display: block;
        margin: 0 auto;
        width: 75%; } }
