/* EQUAL TO ALL STYLES */
@import url("https://fonts.googleapis.com/css?family=Sansita");
nav {
  text-align: center; }

/*Button*/
.hamburger {
  display: none;
  position: absolute;
  right: 50px;
  top: 20px;
  z-index: 2; }

.hamburger .menu-mobile-btn:focus {
  outline: none; }

.hamburger .menu-mobile-btn {
  width: 50px;
  height: 50px;
  position: relative;
  background: transparent;
  border: none; }

.hamburger .hamburger-bar {
  height: 4px;
  background-color: white;
  position: absolute;
  display: block;
  width: 38px;
  top: 22px; }

.hamburger .hamburger-bar:first-child {
  top: 11px;
  position: absolute; }

.hamburger .hamburger-bar:last-child {
  top: 33px;
  position: absolute; }

body {
  font-family: 'Sansita', sans-serif;
  text-align: center;
  background: black;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-width: 320px; }

h1 {
  font-size: 9.5em;
  letter-spacing: 1px;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

/* Full width and height */
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  overflow-x: hidden; }

.viewport100 {
  position: relative;
  height: 100%;
  overflow: hidden;
  min-height: 370px;
  min-width: 320px;
  z-index: 1; }

@media (min-width: 601px) {
  .header-bar {
    width: 100%;
    height: 70px;
    background: #000;
    z-index: 2;
    position: absolute;
    padding-top: 20px;
    box-sizing: border-box;
    /* mantain the size */ }
  .header-bar .menu ul {
    margin: 0 auto;
    padding: 0; }
  .header-bar .menu li {
    list-style: none;
    display: inline-block;
    background-color: #000;
    margin: 0 25px;
    padding: 0 15px; }
  .header-bar .menu a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    display: inline-block;
    font-size: 2em;
    transition: all 0.3s ease-in; }
  .header-bar .menu a:hover {
    border-bottom: 2px solid white; } }

@media (max-width: 961px) {
  .header-bar .menu li {
    padding: 0; } }

@media (max-width: 768px) {
  .header-bar .menu a {
    font-size: 1.7em;
    padding-top: 5px; } }

@media (max-width: 600px) {
  .header-bar .menu ul {
    display: none;
    margin: 0;
    padding: 0; }
  .hamburger {
    display: block;
    z-index: 2; }
  .menu-mobile-open ul.menu-items {
    position: relative;
    padding: 20px 0;
    display: block; }
  .menu-items {
    list-style: none;
    background: #fff;
    /*top: 45px; */ }
  .menu-items li {
    /*margin: 42px 0;*/
    background: #fff;
    padding: 0; }
  .menu-items a {
    text-decoration: none;
    color: #000;
    display: inline-block;
    border-bottom: 2px solid transparent; }
  .menu-items a:hover {
    border-bottom: 2px solid black;
    transition: all 0.3s ease-in; } }
