/* EQUAL TO ALL STYLES */
@import url("https://fonts.googleapis.com/css?family=Sansita");
nav {
  text-align: center; }

/*Button*/
.hamburger {
  display: none;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 2; }
  .hamburger .menu-mobile-btn:focus {
    outline: none; }
  .hamburger .menu-mobile-btn {
    width: 50px;
    height: 50px;
    position: relative;
    background: transparent;
    border: none; }
  .hamburger .hamburger-bar {
    height: 4px;
    background-color: white;
    position: absolute;
    display: block;
    width: 38px;
    top: 22px; }
    .hamburger .hamburger-bar:first-child {
      top: 11px;
      position: absolute; }
    .hamburger .hamburger-bar:last-child {
      top: 33px;
      position: absolute; }

.menu-mobile-open .hamburger-bar {
  background-color: black; }

.footer-section {
  background: #000; }

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 250px;
  padding-top: 50px;
  box-sizing: border-box; }
  footer .row {
    padding: 25px 0;
    width: 100%;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    font-weight: 400; }
  footer .column {
    display: inline-block;
    padding-top: 10px;
    width: 30%; }
    footer .column a {
      text-decoration: none;
      color: #ecbf53;
      font-size: 18px; }
  footer hr {
    width: 5%; }
  footer .social-row {
    padding: 5px;
    font-size: 28px; }
    footer .social-row .fa {
      margin: 0 15px; }

body {
  font-family: 'Sansita', sans-serif;
  text-align: center;
  background: black;
  color: #fff;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-width: 320px; }

h1 {
  font-size: 9.5em;
  letter-spacing: 1px;
  margin: 0;
  padding: 0; }

p {
  margin: 0;
  padding: 0; }

/* Full width and height */
.wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black; }

.viewport100 {
  position: relative;
  height: 100%;
  overflow: hidden;
  min-height: 370px;
  min-width: 320px;
  z-index: 1; }

@media (min-width: 601px) {
  .header-bar {
    width: 100%;
    height: 70px;
    background: #000;
    z-index: 2;
    position: absolute;
    padding-top: 20px;
    box-sizing: border-box;
    /* mantain the size */ }
    .header-bar .menu ul {
      margin: 0 auto;
      padding: 0; }
      .header-bar .menu ul li {
        list-style: none;
        display: inline-block;
        background-color: #000; }
        .header-bar .menu ul li a {
          color: #fff;
          text-decoration: none;
          border-bottom: 2px solid transparent;
          display: inline-block;
          font-size: 2em;
          -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }
          .header-bar .menu ul li a:hover {
            border-bottom: 2px solid white; } }

@media (min-width: 769px) {
  .header-bar .menu ul li {
    margin: 0 25px;
    padding: 0; } }

@media (max-width: 961px) {
  h1 {
    font-size: 7.5em; } }

@media (max-width: 768px) {
  .header-bar .menu li {
    padding: 0;
    margin: 0 25px; }
  .header-bar .menu a {
    font-size: 1.7em; }
  footer {
    height: 300px; }
    footer .row {
      padding: 0; }
    footer .column {
      width: 100%;
      margin: 0 auto;
      padding-bottom: 10px;
      display: block; }
  h1 {
    font-size: 5.7em; }
  .landing-footer {
    font-size: 1.1em; } }

@media (max-width: 600px) {
  .landing-title {
    margin: 0;
    padding: 0px; }
  .header-bar .menu ul {
    display: none;
    margin: 0;
    padding: 0; }
  .hamburger {
    display: block;
    z-index: 2; }
  .menu-mobile-open ul.menu-items {
    position: relative;
    padding: 20px 0;
    display: block;
    height: 500px; }
  .menu-items {
    list-style: none;
    background: #fff; }
    .menu-items li {
      background: #fff;
      padding: 0; }
      .menu-items li a {
        text-decoration: none;
        color: #000;
        display: inline-block;
        border-bottom: 2px solid transparent; }
        .menu-items li a:hover {
          border-bottom: 2px solid black;
          -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in; }
  h1 {
    font-size: 4.6em;
    letter-spacing: 0;
    padding-top: 0; }
  .landing-title {
    margin: 0;
    padding: 0; } }
