.tales-container {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 380px;
  margin: 50px;
  top: 0;
  left: 0; }
  .tales-container:hover {
    top: 4px;
    left: 4px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in; }
  .tales-container .tales-panel-text {
    position: absolute;
    z-index: 2;
    width: 420px;
    height: 250px;
    background: #fff;
    top: 50px;
    box-shadow: 10px 10px 37px -13px rgba(0, 0, 0, 0.75); }
    .tales-container .tales-panel-text h2 {
      color: #000;
      margin: 70px 0 20px; }
    .tales-container .tales-panel-text hr {
      border: 0;
      color: #dedede;
      background-color: #dedede;
      width: 50%;
      height: 2px;
      margin: 3px 100px; }
    .tales-container .tales-panel-text p {
      color: #000;
      margin-top: 15px; }
  .tales-container .tales-panel-img {
    position: absolute;
    z-index: 3;
    left: 420px; }
    .tales-container .tales-panel-img img {
      width: 350px;
      height: auto;
      z-index: 3;
      box-shadow: 7px 7px 37px -13px rgba(0, 0, 0, 0.75); }
  .tales-container:nth-child(2) .tales-background {
    background: #c17247; }
  .tales-container:nth-child(3) .tales-background {
    background: #a6eae6; }
  .tales-container:nth-child(4) .tales-background {
    background: #fec271; }
  .tales-container:nth-child(5) .tales-background {
    background: #cc8c97; }
  .tales-container:nth-child(6) .tales-background {
    background: #beb0a5; }
  .tales-container:nth-child(7) .tales-background {
    background: #d8414d; }
  .tales-container:nth-child(8) .tales-background {
    background: #eae5d7; }
  .tales-container .tales-background {
    position: absolute;
    z-index: 1;
    width: 700px;
    height: 250px;
    left: 100px;
    top: 130px;
    background: #9ec0d0; }

.landing-title {
  background: #000;
  /* COLOR */
  margin-top: -70px;
  padding-top: 70px; }

.title {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.landing-footer {
  font-size: 2em;
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0; }
  .landing-footer a {
    text-decoration: none;
    color: #fff; }
    .landing-footer a:hover {
      text-decoration: none;
      color: #fff;
      font-size: 1.2em;
      -webkit-transition: all 0.3s ease-in;
      transition: all 0.3s ease-in; }

footer {
  position: relative; }

@media (max-width: 917px) {
  .tales-container {
    width: 645px;
    height: 380px;
    margin: 50px; }
    .tales-container:hover {
      top: 0;
      left: 0; }
    .tales-container .tales-panel-text {
      width: 290px;
      height: 300px;
      left: 320px;
      top: 40px; }
      .tales-container .tales-panel-text h2 {
        margin: 90px 0 30px; }
      .tales-container .tales-panel-text hr {
        width: 30%; }
      .tales-container .tales-panel-text p {
        margin: 20px 25px; }
    .tales-container .tales-panel-img {
      left: 0;
      top: 30px; }
      .tales-container .tales-panel-img img {
        width: 320px;
        height: 320px;
        box-shadow: 1px 2px 33px -4px rgba(0, 0, 0, 0.75); }
    .tales-container .tales-background {
      width: 550px;
      height: 380px;
      top: 0;
      left: 95px; } }

@media (max-width: 768px) {
  .tales-container {
    width: 475px;
    height: 440px; }
    .tales-container .tales-panel-text {
      height: 390px;
      left: 99px;
      top: 50px;
      box-shadow: 4px -1px 33px -5px rgba(0, 0, 0, 0.75); }
      .tales-container .tales-panel-text h2 {
        margin: 210px 0 30px; }
    .tales-container .tales-panel-img {
      left: 145px;
      top: 25px; }
      .tales-container .tales-panel-img img {
        width: 200px;
        height: 200px;
        box-shadow: 1px 2px 33px -4px rgba(0, 0, 0, 0.75); }
    .tales-container .tales-background {
      width: 345px;
      height: 200px;
      left: 70px; } }

@media (max-width: 592px) {
  .tales-container {
    width: 345px; }
    .tales-container .tales-panel-text {
      left: 28px; }
    .tales-container .tales-panel-img {
      left: 74px; }
    .tales-container .tales-background {
      left: 0; } }

@media (max-width: 480px) {
  .tales-container {
    margin: 3px auto;
    width: 100%;
    height: 250px; }
    .tales-container:first-child {
      margin-top: 50px; }
    .tales-container .tales-panel-text {
      top: 30px;
      width: 80%;
      height: 200px; }
      .tales-container .tales-panel-text h2 {
        margin: 40px 0 30px; }
      .tales-container .tales-panel-text hr {
        margin-left: 25%;
        width: 50%; }
    .tales-container .tales-panel-img {
      display: none; }
    .tales-container .tales-background {
      margin: 0 auto;
      width: 100%; } }
