.form-container {
	margin: 20px 0;
    padding: 10px 0;
	
	label {
		width: 300px;
	}

	input {
		width: 250px;
	}

	button {
		width: 50px;

		.fa {
			display: block;

		}
		span {
			display: none;
		}

	}
}

.history-container {
	max-width: 100%;
	
	.history-sg-container {
		width: 96%;
    	margin: 2%;
		
		.history-text {
			padding: 20px 10px 5px 10px;

			.history-title {

				h2 {
					margin: 5px 0;
				}
			}

			.history-resume {
				min-height: 245px;
				height: 220px;

				p {
					font-size: 0.9em;
					padding: 5px 10px;
				}
			}

			.history-author {
	    		height: 35px;
					 				
				hr {
					margin-left: 44%;					
				}

				.by-line {
					font-size: 0.7em;
					padding: 3px 0px;
						
					address {
						display: inline-block;
						color: black;
					}

					time {
						color: black;
					}
				}

				.image-container {
					position: absolute;
					top: -20px;
					width: 40px;
					height: 40px;
					background: white;
					padding: 0;

					img {
						padding: 3px;
						width: 30px;
						height: 30px;
					}
				}
			}
		}

		.social-icons {
			margin: 4%;
			font-size: 1.5em;

			.fa {
				margin: 0 25px;
			}
		}
	}
}