.form-container {
	margin: 20px 10px ;
    padding: 10px 50px;
	
	label {
		display: block;
		font-size: 1.2em;
		margin: 0 auto; 
		margin-bottom: 10px;
		width: 450px;
		text-align: left;
	}

	input {
		display: inline-block;
		vertical-align:top;
		border: none;
		border-radius: 2px;
		height: 40px;
		width: 350px;
		padding: 5px 10px;
		font-size: 1.1em;
	}

	button {
		display: inline-block;
		vertical-align:top;
		border: none;
		border-radius: 2px;
		font-size: 1.5em;
		height: 40px;
		width: 100px;
		background: #9ec0d0;
		color: white;
		font-weight: 500;

		.fa {
			display: none;
		}
	}
}

.history-container {
	display: inline-block;
	margin: 0 auto;
	width: 70%;
	background: rgba(158, 192, 208, 0.24);


	.history-sg-container {
		position: relative;
		width: 25%;
		height: 100%;
		display: block;
		float: left;
		margin: 4%;
		padding-bottom: 4%;
		background: #9ec0d0;
		
		.history-text {
			position: relative;
			width: 80%;
			height: 380px;
			background: white;
			padding: 20px;

			.history-title {
				color: black;

			}

			.history-resume {
				color: black;

				p {
					padding: 10px;
				}

			}
			


			.history-author {
				position: absolute;
				height: 9%;
				bottom: 0;
				left: 0;
				background: #eee;
				width: 100%;
				 
				
				hr {
					width: 60%;
					margin: 0;
					margin-left: 39%;
					border: none;
					height: 1px;
					background-color: rgba(0, 0, 0, 0.75);
					
				}

				.by-line {
					color: black;
					text-align: right; 
					font-size: 0.9em;
					padding: 5px 7px;
					

					address {
						display: inline-block;
						width: 30%;
						color: black;
					}

					time {
						color: black;
						width: 30%;
					}
				}

				.image-container {
					position: relative;
					top: -55px;
    				left: 20px;
					width: 50px;
					height: 50px;
					background: white;
					padding: 0;

					img {
						padding: 5px;
						width: 40px;
						height: 40px;
					}
				}
			}
		}

		.social-icons {

			.fa {
				color: white;
			}

		}

	
	}
}