.form-container {
	margin: 20px 10px ;
    padding: 10px 50px;
	
	label {
		display: block;
		font-size: 1.2em;
		margin: 0 auto; 
		margin-bottom: 10px;
		width: 450px;
		text-align: left;
	}

	input {
		display: inline-block;
		vertical-align:top;
		border: none;
		border-radius: 2px;
		height: 40px;
		width: 350px;
		padding: 5px 10px;
		font-size: 1.1em;
	}

	button {
		display: inline-block;
		vertical-align:top;
		border: none;
		border-radius: 2px;
		font-size: 1.5em;
		height: 40px;
		width: 100px;
		background: #9ec0d0;
		color: white;
		font-weight: 500;

		.fa {
			display: none;
		}
	}
}

.history-container {
	display: inline-block;
	margin: 5% auto;
	max-width: 70%;
	background: rgba(158, 192, 208, 0.24);

	.history-sg-container {
		position: relative;
		box-sizing: border-box;
		width: 29.33%;
    	margin: 2%;
		display: block;
		float: left;
		background: #9ec0d0;
		min-width: 275px;
		
		.history-text {
			position: relative;
			width: 95%;
			background: white;
			padding: 20px 20px 55px 20px;
			box-sizing: border-box;
			-webkit-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 37px -13px rgba(0,0,0,0.75);

			.history-title {
				color: black;
				min-width: 215px; /* make the ... */
				width: 100%;
				display: inline-block;
					
				h2 {
					white-space: nowrap; /* make the ... */
    				overflow: hidden; /* make the ... */
    				text-overflow: ellipsis; /* make the ... */
				}

			}

			.history-resume {
				color: black;
				min-height: 250px;
				height: 300px;
				overflow: hidden;

				p {
					padding: 10px;
				}
			}


			.history-author {
				position: absolute;
	    		display: block;
	    		padding: 5px 20px;
	    		bottom: 0;
	    		left: 0;
	    		background: #eee;
	    		width: 100%;
	    		height: 40px;
    			box-sizing: border-box;
					 				
				hr {
					width: 60%;
					margin: 0;
					margin-left: 39%;					
					border: none;
					height: 1px;
					background-color: rgba(0, 0, 0, 0.75);
						
				}

				.by-line {
					color: black;
					text-align: right; 
					font-size: 0.9em;
					padding: 5px 7px;
						
					address {
						display: inline-block;
						color: black;

						a {
							text-decoration: none;
							color: #636363;
						}
					}

					time {
						color: black;
					}
				}

				.image-container {
					position: absolute;
					top: -20px;
					width: 50px;
					height: 50px;
					background: white;
					padding: 0;

					img {
						padding: 5px;
						width: 40px;
						height: 40px;
					}
				}
			}
		}

		.social-icons {
			position: relative;
			top: 0px;
			margin: 8%;
			font-size: 1.8em;

			.fa {
				margin: 0 15px;
				color: white;
				
			}
		}
	}
}