.banner {

	.title {
		height: 250px;

		h1 {
			font-size: 4em;
			margin: 20px 0 0px 20px;
		}

		h2 {
			font-size: 1.1em;
			bottom: 5px;
		}
	}

	.title-img {
		top: 240px;
		
		img {
			width: 180px;	
		}
	}	
}

